/*global customizaion*/
* {
  
}
h1, h2, h3, h4, h5, h6 {font-weight: bold !important;}
p {

}
body {
  background-color: #f5f5f5;
  position: relative !important;
}
.bg-info {
  background-color: rgba(255, 255, 255, 0.3)  !important;
  border-radius: 3px;
}
.con-bg {
  background-color:  #009900;
}
/*global customizaion*/

/*logo*/
  .navbar-brand img {
    height: 40px !important;
  }


  /*nav section*/
  .navbar-expand-lg .navbar-collapse {
    padding-left: 150px;
  }
  .navbar {
    background-color: transparent;
  }
  .top-nav-collapse {
    background-color: #3e2723;
  }
  @media only screen and (max-width: 768px) {
    .navbar {
      background-color: #3e2723;
    }
  }

/*jumbtron*/
  #bn-img {
    width: 100%;
    background-image: url('../img/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: space;
  }
  #bn-img {
    text-shadow: 0px 5px 10px #a3675c;
  }
  #bn-txt {
    font-size: 1.2em;
    padding-top: 25vw;
    padding-bottom: 5vw;
  }

/*ABOUT STARTS*/
  #about #center {
    background-image: url('../img/about.jpg');
    padding-right: 3rem;
  }
  #about h2 {
    text-shadow: 0px 5px 10px #a3675c;
  }
  /*  #about dl:hover {
      background-color: #f1f1f2;
      box-shadow: 0px 15px 30px grey;
      border-radius: 5px;
      transition: 0.7s;
    }*/
  #about i {
    color: #84807f;
    background-color: white;
    border: #ED5A32 10px solid;
    border-radius: 55%;
    position: relative;
    right: 3rem;
  }
  #about i:hover {
    -webkit-animation-name: name;
            animation-name: name;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  @-webkit-keyframes name {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
  }
  @keyframes name {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
  }

  @media (max-width: 580px) {
    #about i {
      position: relative;
      left: -0.5rem
    }
  }
/*servicer starts here*/
  #services {
    background-color: #f1f1f2;
  }
  #services h2 {
    text-shadow: 0px 5px 10px #a3675c;
  }

  #services .block {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
  }
  #services .card:hover {
    background-color: #ede1de;

    cursor: copy;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
  }

/*designe section*/
  #design figure {
    position: relative;
  }
  #design h2 {
    text-shadow: 0px 5px 10px  #a3675c;
  }
  #design #image figure:hover {
    background-color: #a3675c;

    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
  }
  #design .card:hover  {
    background-color: #ede1de;

    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
  }
  #design .date-tag {
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
  #design .date-tag h4,
  #design .date-tag h6 {
    margin: 0;
  }
  #rel-image {
    position: absolute;
    width: 200px;
    bottom: 5%
  }
  #design .rel-date {
    position: absolute;
    top: 5%;
    left: 10%;
  }
/*team section*/
  #team {
    background-color: #f1f1f2;
  }
  #team h2 {
    text-shadow: 0px 5px 10px #a3675c;
  }
  #team  figure:hover {
    background-color: #f1f1f2;
    -webkit-box-shadow: 0px 15px 30px grey;
            box-shadow: 0px 15px 30px grey;
    border-radius: 4px;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;  
  }

/*portfolio section*/
  #portfolio h2 {
    text-shadow: 0px 5px 10px #a3675c;
  }

/*package section*/
  #package {
    background-color: #f6f0ef;
  }
  #package h2 {
    text-shadow: 0px 5px 10px #a3675c;
  }
  #package .card:hover {
    background-color: #ede1de;
    border-radius: 5px;
    cursor: copy;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;  
    }
  #package .alert-link {
    width: 110px;
  }
/*address section*/
  #address {
    background-color: #f1f1f2;
  }
  #address h2 {
    text-shadow: 0px 5px 10px #a3675c;
  }
  #address i:hover {
    -webkit-animation-name: name;
            animation-name: name;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;    
  }
  #address dl:hover {
    background-color: #ede1de;
    -webkit-box-shadow: 0px 5px 15px grey;
            box-shadow: 0px 5px 15px grey;
    border-radius: 8px;
    cursor: copy;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;  
  }
  iframe {
     height: 100%;
     width: 100%;
  }
/*top*/
  #top {
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 8px grey;
            box-shadow: 0px 3px 8px grey;
    position: fixed;
    right: 2%;
    bottom: 2%;
  }
  #top:hover {
    color: black;
    background-color: #f1f1f2;
    -webkit-box-shadow: 0px 8px 12px #f1f1f2;
            box-shadow: 0px 8px 12px #f1f1f2;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;  
  }
/*contact*/
  #contact {
    background-color: #e2dcdc;
  }
  #contact #form:hover {
    background-color: #f1f1f2;
    -webkit-box-shadow: 0px 5px 15px grey;
            box-shadow: 0px 5px 15px grey;
    border-radius: 8px;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s; 
  }
  #contact input,
  #contact select,
  #contact textarea {
    border-radius: 5px;
    -webkit-box-shadow: 1px 3px 10px grey;
            box-shadow: 1px 3px 10px grey;
  }
  #contact textarea {
    height: 100px;
  }
  #contact #form {
    border-radius: 5%;
  }
  #contact h4 {
    text-shadow: 0px 5px 8px #a3675c;
  }