/*font face*/
  @font-face {
      font-family: BebasNeue;
      src: url(font/BebasNeue Bold.ttf);
       font-weight: bold;
  }

  .m-or {
    color: #dc5c15;
  }
  .m-tx {
    color: #454443;
  }
  .m-br {
    background-color: #f4f2f2;
    }
/*font face*/
/*global customizaion*/
  h1, h2, h3, h4, h5, h6 {font-weight: bold !important;}

  body {
    position: relative !important;
  }
  .bg-info {
    background-color: transparent !important;
    border-bottom: 3px solid white;
  }

/*global customizaion*/

/*large devices customization*/
  @media (min-width: 780px) {
    #navbarSupportedContent {
      font-size: 17px;
      font-family: 'BebasNeue', sans-serif;
    }
    #bn-txt h1 {
      font-family: 'BebasNeue', sans-serif;
      font-size: 60px;
      padding-bottom: 5vh;
    }
  }
/*large devices customization*/
/*logo*/
  .navbar-brand img {
    height: 50px !important;
  }
/*nav section*/
  .navbar {
    background-color: transparent;
  }
  .top-nav-collapse {
    background-color: #585858;
  }
  @media only screen and (max-width: 768px) {
    .navbar {
      background-color: #585858;
    }
  }
/*jumbtron*/
  #home {
    width: 100%;
    background-image: url('../img/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: space;
  }

  #bn-txt {
    font-family: 'BebasNeue', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: left;
    padding-top: 30vh;
    padding-bottom: 18vh;
  }
/*ABOUT STARTS*/
  #about {
    background-color: #fff;
  }
  #about #center {
    background-image: url('../img/about.jpg');
  }
  #about hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
    margin: 1em 0;
    padding: 0; 
  }

  #about i {
    color: #84807f;
    background-color: white;
    border: #cc4329 10px solid;
    border-radius: 55%;
    position: relative;
    right: 3rem;
  }
  #about i:hover {
    -webkit-animation-name: name;
            animation-name: name;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  @-webkit-keyframes name {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
  }
  @keyframes name {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
  }

  @media (max-width: 580px) {
    #about i {
      position: relative;
      left: -0.5rem
    }
  }
/*servicer starts here*/
  #services .block {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
  }
  #services .card:hover {
    background-color: #e9e2e2;
    cursor: copy;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
  }
/*designe section*/
  #design figure {
    position: relative;
  }
  #design #image figure:hover {
    -webkit-animation-name: roll;
            animation-name: roll;
    -webkit-animation-duration: 1.2s;
            animation-duration: 1.2s;
  }
  @-webkit-keyframes roll {
    0% {-webkit-transform: rotateY(0deg);transform: rotateY(0deg);}
    100% {-webkit-transform: rotateY(360deg);transform: rotateY(360deg);}
  }
  @keyframes roll {
    0% {-webkit-transform: rotateY(0deg);transform: rotateY(0deg);}
    100% {-webkit-transform: rotateY(360deg);transform: rotateY(360deg);}
  }
  
  #design .card:hover  {
    background-color: #ede1de;

    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
  }
  #design .date-tag {
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
  #design .date-tag h4,
  #design .date-tag h6 {
    margin: 0;
  }
  #rel-image {
    position: absolute;
    width: 200px;
    bottom: 5%
  }
  #design .rel-date {
    position: absolute;
    top: 5%;
    left: 10%;
  }
/*team section*/

  #team  figure figcaption:hover {
    background-color: rgba(166, 166, 166, 0.7);
    -webkit-box-shadow: 0px 15px 30px grey;
            box-shadow: 0px 15px 30px grey;
    border-radius: 4px;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;  
  }

/*portfolio section*/
  #portfolio h2 {
    text-shadow: 0px 5px 10px #a3675c;
  }
  .m-sil {
    background-color: rgba(166, 166, 166, 0.7);
  }

/*package section*/
  #package .card:hover {
    background-color: #e9e2e2;
    border-radius: 5px;
    cursor: copy;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;  
    }
  #package .alert-link {
    width: 110px;
  }
/*address section*/
  #address i:hover {
    -webkit-animation-name: roll;
            animation-name: roll;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;    
  }
  #address .row .wow:hover {
    background-color: #e9e2e2;
    -webkit-box-shadow: 0px 5px 15px grey;
            box-shadow: 0px 5px 15px grey;
    border-radius: 8px;
    cursor: copy;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;  
  }
  iframe {
     height: 100%;
     width: 100%;
  }
/*top*/
  #top {
    border-radius: 50%;
    position: fixed;
    right: 2%;
    bottom: 2%;
  }
  #top:hover {
    color: black;
    background-color: #f1f1f2;
    -webkit-box-shadow: 0px 8px 12px #f1f1f2;
            box-shadow: 0px 8px 12px #f1f1f2;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;  
  }
/*contact*/
  #contact {
    background-color: #e2dcdc;
  }
  #contact #form {
    background-color: #f1f1f2;
    -webkit-box-shadow: 0px 5px 15px grey;
            box-shadow: 0px 5px 15px grey;
    border-radius: 8px;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s; 
  }
  #contact #form:hover #contact input,
  #contact #form:hover #contact select,
  #contact #form:hover #contact textarea {
    border-radius: 5px;
    -webkit-box-shadow: 1px 3px 10px grey;
            box-shadow: 1px 3px 10px grey;
  }
  #contact textarea {
    height: 100px;
  }
  #contact #form {
    border-radius: 5%;
  }
  #contact h4 {
    text-shadow: 0px 5px 8px #a3675c;
  }